<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <!-- Load font awesome 5-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">

    <!-- Load Jquery, Slick slider-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/slick-slide.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
</head>
<body>
<div class="container">
    <section class="header">
        <div class="top-nav">
            <div class="logo">
                <i class="fas fa-bars"></i>
                <img src="/images/logo-website.png" alt="logo-website">
            </div>
            <div class="intro">
                <div class="intro-icon">
                    <h3 class="title">Specialist</h3>
                    <span>Find a doctor by specialty</span>
                </div>
                <div class="intro-icon">
                    <h3 class="title">Health facilities</h3>
                    <span>Select clinic</span>
                </div>
                <div class="intro-icon">
                    <h3 class="title">Doctor</h3>
                    <span>Choose a good doctor</span>
                </div>
                <div class="intro-icon">
                    <h3 class="title">Exam package</h3>
                    <span>General health check</span>
                </div>

            </div>
            <div class="support">
                <span><i class="fas fa-question-circle"></i>Support</span>
            </div>
        </div>

        <div class="image-nav">
            <div class="title-image">
                SPECIALIST MEDICAL EXAMINATION PLATFORM
            </div>
            <div class="btn-search">
                <i class="fas fa-search"></i>
                <input class="input-search" type="text" name="btnSearch" placeholder="Search here...">
            </div>
        </div>
        <div class="bottom-nav">
            <div class="bottom-item">
                <i class="fas fa-check"></i>
                <span>Big hospital</span>
            </div>
            <div class="bottom-item">
                <i class="far fa-thumbs-up"></i>
                <span>Good clinic</span>
            </div>
            <div class="bottom-item">
                <i class="fas fa-user-nurse"></i>
                <span>Good doctor</span>
            </div>
            <div class="bottom-item">
                <i class="far fa-clock"></i>
                <span>Priority examination</span>
            </div>
        </div>
    </section>
    <section class="popular-specialty">
        <div class="title-section">
            <span class="span-title">Popular specialty</span>
            <div class="btn-view ">
                <a class="" href="/"> <span>ALL SPECIALITY </span></a>
            </div>
        </div>
        <div class="slide">
            <div class="my-slick-slide">
                <div class="div-slide">
                    <div class="image-slide">
                    </div>
                    <div class="div-title">
                        <span>Heart</span>
                    </div>
                </div>
                <div class="div-slide">
                    <div class="image-slide">
                    </div>
                    <div class="div-title">
                        <span>Nerve</span>
                    </div>
                </div>
                <div class="div-slide">
                    <div class="image-slide">
                    </div>
                    <div class="div-title">
                        <span>Digest</span>
                    </div>
                </div>
                <div class="div-slide">
                    <div class="image-slide">

                    </div>
                    <div class="div-title">
                        <span>Traditional medicine</span>
                    </div>
                </div>
                <div class="div-slide">
                    <div class="image-slide">

                    </div>
                    <div class="div-title">
                        <span>Acupuncture</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="hospital-and-clinic">
        <div class="title-section">
            <span class="span-title">Top hospitals & clinics</span>
            <div class="btn-view ">
                <a class="" href="/"> <span>ALL MEDICAL FACILITIES </span></a>
            </div>
        </div>
        <div class="slide">
            <div class="my-slick-slide">
                <div class="div-slide">
                    <div class="image-slide">
                    </div>
                    <div class="div-title">
                        <span>K Hospital</span>
                    </div>
                </div>
                <div class="div-slide">
                    <div class="image-slide">
                    </div>
                    <div class="div-title">
                        <span>D Hospital</span>
                    </div>
                </div>
                <div class="div-slide">
                    <div class="image-slide">
                    </div>
                    <div class="div-title">
                        <span>ABC Clinic</span>
                    </div>
                </div>
                <div class="div-slide">
                    <div class="image-slide">

                    </div>
                    <div class="div-title">
                        <span>ABC Hospital</span>
                    </div>
                </div>
                <div class="div-slide">
                    <div class="image-slide">

                    </div>
                    <div class="div-title">
                        <span>d Hospital</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="doctors">
        <div class="title-section">
            <span class="span-title">Outstanding doctor</span>
            <div class="btn-view ">
                <a class="" href="/"> <span>ALL THE DOCTORS </span></a>
            </div>
        </div>
        <div class="slide">
            <div class="my-slick-slide">
                <div class="div-slide">
                    <img src="../images/speciality/speciality1.jpg" alt="image-doctors">
                    <div class="info-doctor">
                        <span class="name">Dr. Hary Pham</span>
                        <span class="speciality">Nerve</span>
                    </div>
                    <span class="count-booking">1.000 bookings</span>
                </div>
                <div class="div-slide">
                    <img src="../images/speciality/speciality1.jpg" alt="image-doctors">
                    <div class="info-doctor">
                        <span class="name">Dr. Hary Pham</span>
                        <span class="speciality">Nerve</span>
                    </div>
                    <span class="count-booking">1.000 bookings</span>
                </div>
                <div class="div-slide">
                    <img src="../images/speciality/speciality1.jpg" alt="image-doctors">
                    <div class="info-doctor">
                        <span class="name">Dr. Hary Pham</span>
                        <span class="speciality">Nerve</span>
                    </div>
                    <span class="count-booking">1.000 bookings</span>
                </div>
                <div class="div-slide">
                    <img src="../images/speciality/speciality1.jpg" alt="image-doctors">
                    <div class="info-doctor">
                        <span class="name">Dr. Hary Pham</span>
                        <span class="speciality">Nerve</span>
                    </div>
                    <span class="count-booking">1.000 bookings</span>
                </div>
                <div class="div-slide">
                    <img src="../images/speciality/speciality1.jpg" alt="image-doctors">
                    <div class="info-doctor">
                        <span class="name">Dr. Hary Pham</span>
                        <span class="speciality">Nerve</span>
                    </div>
                    <span class="count-booking">1.000 bookings</span>
                </div>
            </div>
        </div>
    </section>
    <section class="handbook">
        <div class="title-section">
            <span class="span-title">Handbooks</span>
            <div class="btn-view ">
                <a class="" href="/"> <span>ALL POSTS</span></a>
            </div>
        </div>
        <div class="slide">
            <div class="handbook-slide">
                <div class="div-slide">
                  <img src="../images/speciality/speciality1.jpg" alt="image the post">
                    <div class="info-post">
                        <span class="title-post">My first post</span>
                        <div class="summary-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
                    </div>
                </div>
                <div class="div-slide">
                    <img src="../images/speciality/speciality1.jpg" alt="image the post">
                    <div class="info-post">
                        <span class="title-post">My first post</span>
                        <div class="summary-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
                    </div>
                </div>
                <div class="div-slide">
                    <img src="../images/speciality/speciality1.jpg" alt="image the post">
                    <div class="info-post">
                        <span class="title-post">My first post</span>
                        <div class="summary-content">asdfasdf asdfl asfd lkasdfasdfasfd</div>
                    </div>
                </div>
                <div class="div-slide">
                    <img src="../images/speciality/speciality1.jpg" alt="image the post">
                    <div class="info-post">
                        <span class="title-post">My first post</span>
                        <div class="summary-content">asdfasdf asdfl asfd lkasdfasdfasfd</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="contact">
        <div class="left-side">
            <span class="title">For doctors</span>
            <span class="second-title">Building credibility and online brand</span>
            <span class="third-title">Increasing the number of patients and effective management</span>
            <a class="btn-contact"><span>contact for cooperation</span></a>
        </div>
        <div class="right-side auto-resizable-iframe">
            <div>
                <iframe src="https://www.youtube.com/embed/25PzpAdndSs"
                        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
                </iframe>
            </div>
        </div>
    </section>
    <footer>
        <span> HaryPhamDev</span>
    </footer>
</div>
</body>
</html>